# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# local-only Live2D SDK files
app/live2d/
components/live2d/
lib/live2d-local/
lib/live2d-sdk/
public/live2d/
config/openai.json
config/typecast.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# WebStorm
.idea
